// Navigation Styles here

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px dashed silver;

    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    h1 {
        width: 40%;
        margin-top: 10px;

        @media @mobile {
            margin-left: 10%;
            margin-bottom: 10px;
        }
        
    }

    .nav {
        display: flex;
        align-content: space-between;
        width: 30%;
        margin: 0;

        @media @mobile {
            justify-content: center;
        }

        a {
        text-decoration: none; 
        font-family: 'Roboto', sans-serif;
        color: @font-color;
        font-size: 1.8rem;
        margin-left: 0;

        @media @mobile {
            margin-left: 20%;
            margin-right: 20%;
        }
        }  
    }

}










